html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    --accent-color: #3457D5;
    --content-text-color: #444444;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --error-color: #de4343;
    --regular-text-size: 1.6rem;
    --border-radius: 0.5rem;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    line-height: 1.5;
}

#root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div[id="content"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    font-size: var(--regular-text-size);
    margin-bottom: 3rem;
}

#nav-bar {
    background: white;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

#nav-bar #title {
    margin-left: 4rem;
    font-size: 4rem;
    font-weight: bold;
}

#nav-bar-right-links {
    margin-right: 4rem;
    display: flex;
    gap: 4rem;
    font-weight: bold;
}

#nav-bar a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 2rem;
}

#error-popup {
    position: sticky;
    top: 1rem;
    background-color: var(--error-color);
    border-radius: var(--border-radius);
    z-index: 9999;
    width: 15%;
    display: flex;
    left: 0;
    right: 0;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    color: white;
    box-shadow: var(--box-shadow);
}

#hide-error-button {
    background: transparent;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    cursor: pointer;
}

#warning-icon {
    background: transparent;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

/* Mateiral icon styling */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    background: transparent;
    color: var(--accent-color);
    padding: 0;
}

/* Mateiral icon styling (filled) */
.material-symbols-outlined-fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    background: transparent;
    color: var(--accent-color);
}

button {
    max-width: fit-content;
    padding: 1rem;
    color: white;
    background: var(--accent-color);
    border: none;
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

#post, #comment, #user {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
}

a {
    text-decoration: none;
}

#user-link, #sign-up-link, #login-link {
    color: var(--accent-color);
    font-weight: bold;
}

a[id="title"], span[id="title"], #form-title {
    font-weight: bold;
    color: var(--accent-color);
    font-size: calc(1.5 * var(--regular-text-size));
}

#post-like-counter, #comment-like-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
}

#modify-post-actions, #modify-comment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Styling for delete confirmation popup */
#delete-confirmation-popup {
    position: sticky;
    top: 1rem;
    width: 15%;
    background: white;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-radius);
}

#delete-confirmation-popup #buttons {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    align-items: center;
}

#warning-button {
    background: var(--error-color);
}
/* End styling for delete confirmation popup */

#comment-form, #edit-post-form, #edit-comment-form, #edit-settings-form, #new-post-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

input[type="text"], input[type="password"] {
    max-width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    padding-left: 0.5rem;
    color: black;
    border: 0.1rem solid gray;
    border-radius: var(--border-radius);
    font-size: inherit;
    resize: none;
}

textarea {
    min-height: 10rem;
    height: auto;
    max-width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    padding-left: 0.5rem;
    color: black;
    border: 0.1rem solid gray;
    border-radius: var(--border-radius);
    font-size: inherit;
    resize: none;
}

#form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
}

#edit-post-form {
    max-width: 100%;
}

#label-input-pair {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

#label-checkbox-pair {
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="checkbox"] {
    width: 1.25em; /* em is relative to the size of the parent element */
    height: 1.25em;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}

label {
    color: var(--accent-color);
    font-weight: bold;
}

textarea[id="content"] {
    height: auto;
}

#login-form-container, #sign-up-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
}

#login-form, #sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

#login-form-container button, #sign-up-form-container button, #sign-up-form span, #login-form span {
    align-self: center;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--regular-text-size);
    color: var(--accent-color);
    background: white;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

#footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GitHub footer icon styling */
.fa-github {
    color: var(--accent-color);
    font-size: 2.4rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}