* {
    /*
    border: 1px solid red;
    */
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    --accent-color: #3457D5;
    --main-text-color: #747474;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --error-color: #de4343;
    --regular-text-size: 1.6rem;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    line-height: 1.5;
}

#root {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    font-size: var(--regular-text-size);
}

#nav-bar {
    background: white;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

#nav-bar #title {
    margin-left: 4rem;
    font-size: 4rem;
    font-weight: bold;
}

#nav-bar-right-links {
    margin-right: 4rem;
    display: flex;
    gap: 4rem;
    font-weight: bold;
}

#nav-bar a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 2rem;
}

#error-popup {
    position: sticky;
    top: 10rem;
    background-color: var(--error-color);
    border-radius: 0.5rem;
    z-index: 9999;
    width: 15%;
    display: flex;
    left: 0;
    right: 0;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    color: white;
    box-shadow: var(--box-shadow);
}

#hide-error-button {
    background: transparent;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    cursor: pointer;
}

#warning-icon {
    background: transparent;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

/* Mateiral icon styling */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Mateiral icon styling (filled) */
.material-symbols-outlined-fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

button {
    padding: 1rem;
    color: white;
    background: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

#post {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
}

a {
    text-decoration: none;
}

#user-link {
    color: var(--accent-color);
    font-weight: bold;
}

#post #title {
    font-weight: bold;
    color: var(--accent-color);
    font-size: calc(1.5 * var(--regular-text-size));
}

#post-like-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#modify-post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-like-button, #edit-post-button, #delete-post-button {
    background: transparent;
    color: var(--accent-color);
}

/* Styling for delete confirmation popup */
#delete-confirmation-popup {
    width: 15%;
    background: white;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.5rem;
}

#delete-confirmation-popup #buttons {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    align-items: center;
}

#warning-button {
    background: var(--error-color);
}
/* End styling for delete confirmation popup */

#comment-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#comment-input {
    height: 10rem;
    width: 100%;
    padding: 0;
    border: none;
    text-align: left;
    font-family: inherit;
    padding-left: 1rem;
}